/**
 * Extra CSS for example file for article.cls.
 */

@import url(http://fonts.googleapis.com/css?family=PT+Sans);

section {
	position: relative;
}

/*** STYLEMENU ***/

#stylemenu {
	position: fixed;
	top: 0px;
	right: 0px;
	padding: 2px;
}

#stylemenu select {
}

@media print {
	#stylemenu {
		display: none;
	}
}

/*** HTMLHOWTO ***/

.htmlhowto {
	border: #dddfb3 1px solid;
	background-color: #feffdc;
	margin: .5em 0;
	padding: .5em;
	display: none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

body.htmlhowtostyle .htmlhowto {
	display: block;
}

.htmlhowto:before {
	content: "How-to in HTML/CSS:";
}

/*** LATEXCMP ***/

.latexcmp {
	/*border: #dddfb3 1px solid;*/
	/*background-color: #feffdc;*/
	margin: 0;
	padding: 0 .5em;
	display: none;
	/*-moz-border-radius: 3px;*/
	/*-webkit-border-radius: 3px;*/
	/*border-radius: 3px;*/
	width: 100%;
	position: absolute;
	/*bottom:0px;*/
	top:0em;
	left:110%;
}

#abstract .latexcmp {
	left:130%;
}

.latexcmpline {
	position: relative;
	clear: both;
	display: block;
	height: 1px;
}

body.latexcmpstyle .latexcmp {
	display: block;
}

body.latexcmpstyle article {
	width: 50%;
}

body.latexcmpstyle #latexcmpbar {
	background-color: #feffdc;
	border-left: #dddfb3 1px solid;
	height: 100%;
	width: 47%;
	position: fixed;
	top: 0;
	right: 0;
}

/*** MODERN ***/


body.modernstyle {
	font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body.modernstyle h2,
body.modernstyle h3 {
	color: #104a84;
}

body.modernstyle dl dt {
	font-weight: bold;
	float: left;
}
body.modernstyle dl dd {
	margin: 0 0 0 5em;
}

body.modernstyle pre {
	margin-left: -233px;
	padding-left: 233px;
	padding-right: 233px;
	width: 100%;
}

body.modernstyle > article > header > hgroup,
body.modernstyle > article > header > hgroup > p {
	text-align: left;
}

body.modernstyle #toc li:before {
	content: counter(item) ".  ";
}

body.modernstyle #toc li.nonumber:before {
	content: "";
	counter-increment: item 0;
}

body.modernstyle figure {
	text-align: left;
}

body.modernstyle table {
	margin: 1em 0;
}

body.modernstyle figure {
	position: relative;
}

body.modernstyle figure figcaption {
	width: 10%;
	text-align: right;
	/*margin: 0 0 1.2em 0;*/
	position:absolute;
	top:0px;
	left:-12%;
}

body.modernstyle figure figcaption::before {
	color: #104a84;
}

